header{
    font-family: Tahoma, sans-serif;
    color: black;
    display: flex;
    position: relative;
    justify-content: space-between;
    /*sets font, color, display, and position*/
}

footer{
    font-family: Tahoma, sans-serif;
    color: black;
    display: flex;
    position: relative;
    justify-content: space-between;
    /*sets font, color, display, and position*/
}

nav{
    font-family: Tahoma, sans-serif;
    color: black;
    font-size: 15px;
    text-transform: uppercase;
    /*sets font, color, size, and ensures caps throughout*/
}

h1{
    font-family: Tahoma, sans-serif;
    color: black;
    text-shadow: -2px -2px 5px lightgray;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    /*sets font, color, shadow to text, size, weight, and ensures caps throughout*/
}

h2{
    font-family: Tahoma, sans-serif;
    color:black;
    text-shadow: -2px -2px 5px lightgray;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    /*sets font, color, shadow to text, size, weight, and ensures caps throughout*/
}

h3 {
    font-family: Tahoma, sans-serif;
    color: black;
    font-size: 25px;
    font-weight: bold;
    /*sets font, color, size, and weight*/
}

div{
    font-family: Tahoma, sans-serif;
    /*sets font*/
}

p{
    font-family: Tahoma, sans-serif;
    color: black;
    font-size: 15px;
    /*sets font, color, and size*/
}

.square-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    /*makes images on landing page 300x300px squares*/
}

form{
    font-family: Tahoma, sans-serif;
    color: black;
    font-size: 15px;
    padding: 10px;
    /*sets font, color, size, and padding*/
}


input[type=submit] {
    border: none;
    font-family: Tahoma, sans-serif;
    color: white;
    font-weight: bolder;
    width: 200px;
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    /*removes button border, sets font, color, size, and rainbow background to button*/
}

.indexImages {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.indexImages > div {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center;
}

.aboutAuthor {
    display: flex;
    justify-content: center;
    gap: 25px; 
    padding: 25px; 
}

.pics {
    display: flex;
    justify-content: space-evenly;
}

.wipContent{
    display: flex;
    justify-content: center;
}

.connectWith {
    display: flex;
    justify-content: space-around;}

.image-container {
    position: relative;
    display: inline-block;
}

.image-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.overlay-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px 5px black;
    text-align: center;
    width: 100%;
    }
